# CONTROL STATEMENTS AND LOOPS

In [10]:
x=11

if x==10:
    print("X is greater than 0")
    print("x:",x)
else:
    print("The value of the x has been changed to",x)    #SHIFT + ENTER , CTRL+ENTER , RUN
    print("Thanks")

The value of the x has been changed to 11
Thanks

In [19]:
x=int(input("Enter a value"))

if x>0 and x<100:
    print("X is greater than 0 and less than 100")
    print("x:",x)
elif x>=100:
    print("The x holds bigger value")
else:
    print("x is negetive")    #SHIFT + ENTER , CTRL+ENTER , RUN
    print("Thanks")

Enter a value50
X is greater than 0 and less than 100
x: 50

In [ ]:
"""
LOOPS  
FOR LOOP
WHILE
"""

In [ ]:
'''
Data Structure
    1. Immutable
        - Numbers
        - Strings
        - Tuple
    2. Mutable
        - List
        - Dictionary
        - Set
'''

In [20]:
'''
List is a collections of heterogenius elements
List stores the elements as a indices
'''
#creating a list
number=[]
nums=list()
num=[1,2,3,4,5,'chennai',False,3.14]

In [21]:
num

[1, 2, 3, 4, 5, 'chennai', False, 3.14]

In [22]:
num[-1]

3.14

In [23]:
num[-3]

'chennai'

In [24]:
num[5]

'chennai'

In [25]:
nums=[1,2,3,4,5]

In [26]:
len(nums)

5

In [27]:
min(nums)

1

In [28]:
max(nums)

5

In [29]:
sum(nums)

15

In [30]:
3 in nums

True

In [31]:
10 in nums

False

In [32]:
nums

[1, 2, 3, 4, 5]

In [33]:
#add a value
nums.append(6)

In [34]:
nums

[1, 2, 3, 4, 5, 6]

In [36]:
nums.append([7,8,9,10])

In [37]:
nums

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10]]

In [38]:
nums[-1]

[7, 8, 9, 10]

In [40]:
nums.extend([11,12,13,14,15])

In [41]:
nums

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10], 11, 12, 13, 14, 15]

In [42]:
nums[-1]

15

In [43]:
nums[-2]

14

In [44]:
customers=['Raghul','Malini','Ramesh']

In [45]:
customers.append("Shivani")

In [46]:
customers

['Raghul', 'Malini', 'Ramesh', 'Shivani']

In [47]:
customers.extend(['Vetri','Maran','Harsha'])

In [48]:
customers

['Raghul', 'Malini', 'Ramesh', 'Shivani', 'Vetri', 'Maran', 'Harsha']

In [49]:
customers.insert(3,'Ramu')

In [50]:
customers

['Raghul', 'Malini', 'Ramesh', 'Ramu', 'Shivani', 'Vetri', 'Maran', 'Harsha']

In [51]:
customers.insert(0,'VMWare')

In [53]:
print(customers)

['VMWare', 'Raghul', 'Malini', 'Ramesh', 'Ramu', 'Shivani', 'Vetri', 'Maran', 'Harsha']

In [54]:
customers.remove('Vetri')

In [55]:
customers

['VMWare', 'Raghul', 'Malini', 'Ramesh', 'Ramu', 'Shivani', 'Maran', 'Harsha']

In [56]:
customers.pop(3)

'Ramesh'

In [57]:
customers

['VMWare', 'Raghul', 'Malini', 'Ramu', 'Shivani', 'Maran', 'Harsha']

In [58]:
numbers=[1,2,3,4,5]

In [59]:
numbers

[1, 2, 3, 4, 5]

In [60]:
numbers_backup=numbers

In [61]:
numbers

[1, 2, 3, 4, 5]

In [62]:
numbers_backup

[1, 2, 3, 4, 5]

In [63]:
numbers.remove(4)

In [64]:
numbers

[1, 2, 3, 5]

In [65]:
numbers_backup

[1, 2, 3, 5]

In [66]:
numbers_backup.append(6)

In [67]:
numbers_backup

[1, 2, 3, 5, 6]

In [68]:
numbers

[1, 2, 3, 5, 6]

In [69]:
id(numbers)

2395707348864

In [71]:
id(numbers_backup)

2395707348864

In [72]:
nums=[1,2,[3,4],5]

In [73]:
nums

[1, 2, [3, 4], 5]

In [74]:
import copy

In [75]:
s_nums=copy.copy(nums)

In [76]:
nums

[1, 2, [3, 4], 5]

In [77]:
s_nums

[1, 2, [3, 4], 5]

In [78]:
nums.append(6)

In [79]:
nums

[1, 2, [3, 4], 5, 6]

In [80]:
s_nums

[1, 2, [3, 4], 5]

In [81]:
s_nums.remove(2)

In [82]:
s_nums

[1, [3, 4], 5]

In [83]:
nums

[1, 2, [3, 4], 5, 6]

In [85]:
id(nums)

2395708354944

In [86]:
id(s_nums)

2395708355712

In [91]:
nums[2].insert(1,3.5)

In [92]:
nums

[1, 2, [3, 3.5, 4], 5, 6]

In [93]:
s_nums

[1, [3, 3.5, 4], 5]

In [96]:
s_nums[1].pop()

4

In [97]:
s_nums

[1, [3, 3.5], 5]

In [98]:
nums

[1, 2, [3, 3.5], 5, 6]

In [99]:
nums=[1,2,[3,4],5]

In [101]:
d_nums=copy.deepcopy(nums)

In [102]:
nums

[1, 2, [3, 4], 5]

In [103]:
d_nums

[1, 2, [3, 4], 5]

In [104]:
nums.append(6)

In [105]:
nums

[1, 2, [3, 4], 5, 6]

In [106]:
d_nums

[1, 2, [3, 4], 5]

In [107]:
nums.insert(1,100)

In [108]:
nums

[1, 100, 2, [3, 4], 5, 6]

In [109]:
d_nums

[1, 2, [3, 4], 5]

In [110]:
nums[3].insert(1,3.5)

In [111]:
nums

[1, 100, 2, [3, 3.5, 4], 5, 6]

In [112]:
d_nums

[1, 2, [3, 4], 5]

In [113]:
d_nums[2].append(5)

In [114]:
d_nums

[1, 2, [3, 4, 5], 5]

In [115]:
nums

[1, 100, 2, [3, 3.5, 4], 5, 6]

In [116]:
print(dir(nums))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [117]:
nums=[1,5,3,6,8,22,44,11,66]

In [118]:
nums.sort()

In [119]:
nums

[1, 3, 5, 6, 8, 11, 22, 44, 66]

In [120]:
nums.sort(reverse=True)

In [121]:
nums

[66, 44, 22, 11, 8, 6, 5, 3, 1]

In [122]:
help(nums.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [123]:
nums

[66, 44, 22, 11, 8, 6, 5, 3, 1]

In [124]:
nums.append(11)

In [125]:
nums

[66, 44, 22, 11, 8, 6, 5, 3, 1, 11]

In [126]:
nums.count(11)

2

In [127]:
nums.count(6)

1

In [128]:
nums.clear()

In [129]:
nums

[]

In [131]:
nums=[1,5,3,6,8,22,44,11,66]

In [132]:
nums.reverse()

In [133]:
nums

[66, 11, 44, 22, 8, 6, 3, 5, 1]

# TUPLE

In [134]:
nums=(1,2,3,4,5)

In [135]:
type(nums)

tuple

In [136]:
print(dir(nums))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [137]:
nums.count(2)

1

In [138]:
nums.index(5)

4

In [140]:
import sys

nums_l=[1,2,3,4,5]
nums_t=(1,2,3,4,5)

print("SIZE OF THE LIST : ",sys.getsizeof(nums_l))
print("SIZE OF THE TUPLE: ",sys.getsizeof(nums_t))

SIZE OF THE LIST :  96
SIZE OF THE TUPLE:  80

In [143]:
import timeit

print("LIST TOOK: ",str(timeit.timeit(stmt="[1,2,3,4,5,6,7,8,9,10]",number=1000000)*1000) + " milli Seconds")
print("TUPLE TOOK: ",str(timeit.timeit(stmt="(1,2,3,4,5,6,7,8,9,10)",number=1000000)*1000) + " milli Seconds")

LIST TOOK:  83.25860000149987 milli Seconds
TUPLE TOOK:  8.504999999786378 milli Seconds

# DICTIONAY

In [144]:
info={"name":"Raghul","tech":"python","location":"chennai","exp":16,"manager":False}

In [145]:
info['today']="Monday"

In [147]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'chennai', 'exp': 16, 'manager': False, 'today': 'Monday'}

In [149]:
info['location']

'chennai'

In [150]:
info['salary']

KeyError: 'salary'

In [156]:
info.get('project',"Not Available")

'Not Available'

In [158]:
info.get('project')

In [160]:
info.get('project',"L&D")

'L&D'

In [161]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'chennai', 'exp': 16, 'manager': False, 'today': 'Monday'}

In [164]:
info.setdefault('project',"L&D")

'L&D'

In [165]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'chennai', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D'}

In [166]:
info['salary']=1000

In [167]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'chennai', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000}

In [168]:
info['BU']="L&D"

In [169]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'chennai', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000, 'BU': 'L&D'}

In [170]:
info['location']="bangalore"

In [171]:
print(info)

{'name': 'Raghul', 'tech': 'python', 'location': 'bangalore', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000, 'BU': 'L&D'}

In [172]:
info.update({'tech':['Python',"BigData","AI","CLOUD"],"address":{"door_no":1613,"area":"karapakkam","city":"chennai"},"pin":600097})

In [173]:
print(info)

{'name': 'Raghul', 'tech': ['Python', 'BigData', 'AI', 'CLOUD'], 'location': 'bangalore', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000, 'BU': 'L&D', 'address': {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}, 'pin': 600097}

In [175]:
info['address']['door_no']

1613

In [177]:
info['tech'][1]

'BigData'

In [180]:
info.update({('cm','pm'):1250})

In [181]:
print(info)

{'name': 'Raghul', 'tech': ['Python', 'BigData', 'AI', 'CLOUD'], 'location': 'bangalore', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000, 'BU': 'L&D', 'address': {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}, 'pin': 600097, ('cm', 'pm'): 1250}

In [185]:
info.update({('a','b'):["initial","latest"]})

In [186]:
print(info)

{'name': 'Raghul', 'tech': ['Python', 'BigData', 'AI', 'CLOUD'], 'location': 'bangalore', 'exp': 16, 'manager': False, 'today': 'Monday', 'project': 'L&D', 'salary': 1000, 'BU': 'L&D', 'address': {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}, 'pin': 600097, ('cm', 'pm'): 1250, ('a', 'b'): ['initial', 'latest']}

In [187]:
print(dir(info))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [188]:
info.keys()

dict_keys(['name', 'tech', 'location', 'exp', 'manager', 'today', 'project', 'salary', 'BU', 'address', 'pin', ('cm', 'pm'), ('a', 'b')])

In [189]:
info.values()

dict_values(['Raghul', ['Python', 'BigData', 'AI', 'CLOUD'], 'bangalore', 16, False, 'Monday', 'L&D', 1000, 'L&D', {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}, 600097, 1250, ['initial', 'latest']])

In [190]:
info.items()

dict_items([('name', 'Raghul'), ('tech', ['Python', 'BigData', 'AI', 'CLOUD']), ('location', 'bangalore'), ('exp', 16), ('manager', False), ('today', 'Monday'), ('project', 'L&D'), ('salary', 1000), ('BU', 'L&D'), ('address', {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}), ('pin', 600097), (('cm', 'pm'), 1250), (('a', 'b'), ['initial', 'latest'])])

In [193]:
for k in info.keys():
    print(str(k) + " ====> " + str(info[k]))

name ====> Raghul
tech ====> ['Python', 'BigData', 'AI', 'CLOUD']
location ====> bangalore
exp ====> 16
manager ====> False
today ====> Monday
project ====> L&D
salary ====> 1000
BU ====> L&D
address ====> {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}
pin ====> 600097
('cm', 'pm') ====> 1250
('a', 'b') ====> ['initial', 'latest']

In [194]:
for k,v in info.items():
    print(str(k)+" ---> "+ str(v))

name ---> Raghul
tech ---> ['Python', 'BigData', 'AI', 'CLOUD']
location ---> bangalore
exp ---> 16
manager ---> False
today ---> Monday
project ---> L&D
salary ---> 1000
BU ---> L&D
address ---> {'door_no': 1613, 'area': 'karapakkam', 'city': 'chennai'}
pin ---> 600097
('cm', 'pm') ---> 1250
('a', 'b') ---> ['initial', 'latest']

In [195]:
t1=('Raghul',38,'chennai')

In [197]:
(name,age,location)=t1

In [198]:
name

'Raghul'

In [199]:
age

38

In [200]:
location

'chennai'

# SET

In [201]:
nums={1,2,3,8,9,6,5,6,7,3,21,10,11,43,100,55,1,2,3,4,5,6}

In [202]:
nums

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 21, 43, 55, 100}

In [203]:
nums.add(20)

In [204]:
nums

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 20, 21, 43, 55, 100}

In [205]:
nums.add(10)

In [206]:
nums

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 20, 21, 43, 55, 100}

In [207]:
nums=[1,2,2,2,3,3,3,3,3,4,4,4,5,5,5,5]

In [210]:
unique_nums=list(set(nums))

In [211]:
unique_nums

[1, 2, 3, 4, 5]

In [212]:
odds={1,3,5,7,9}
even={2,4,6,8,10}
prime={1,3,5,7}
composites={2,3,4,5,6,8}

In [213]:
odds.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [214]:
even.union(odds)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [215]:
odds.intersection(composites)

{3, 5}

In [216]:
odds.difference(composites)

{1, 7, 9}

In [217]:
composites.difference(odds)

{2, 4, 6, 8}

In [218]:
one={1,3,4,5,6}
two={2,5,6,7,8}

In [219]:
one.intersection(two)

{5, 6}

In [220]:
one.symmetric_difference(two)

{1, 2, 3, 4, 7, 8}

In [221]:
one.difference(two)

{1, 3, 4}

In [222]:
two.difference(one)

{2, 7, 8}

# BITWISE OPERATORS

In [223]:
'''
&  -> Bitwise AND 
|  -> Bitwise OR
^ ->XOR
>> -> Right shift
<< -> Left shift 
'''

'\n\t&  -> Bitwise AND \n\t|  -> Bitwise OR\n\t^ ->XOR\n\t>> -> Right shift\n\t<< -> Left shift \n'

In [224]:
5&7

5

In [225]:
5|7

7

In [226]:
5^7

2

# LAMBDA

In [239]:
#definition

def addnums(x,y):  #Default value
    """addnums function should be called with two number to get sum of those"""
    res=x+y
    return res

In [237]:
addnums(100,200,300,400,500)

300

In [240]:
addnums.__doc__

'addnums function should be called with two number to get sum of those'

In [241]:
addnums(55,66)

121

In [261]:
def addnums(*x): 
    """addnums function should be called with two number to get sum of those"""
#     res=[]
#     res.append(x[0]+10)
#     res.append(x[1]*2)
#     res.append(x[2]**2)
    return sum(x)

In [263]:
addnums(1,2,3,4,5,6)

21

In [264]:
def info(**x):
    for k,v in x.items():
        print(str(k)+" - "+str(v))

In [267]:
info(name="Ramesh",age=38,location="chennai")

name - Ramesh
age - 38
location - chennai

In [ ]:
'''
lambda function is one line function
it is anonymous function
it is getting created with def keyword
we dont use return keyword to return the value
'''

In [269]:
#lambda inputs:expr comes return
(lambda x,y:x+y)(15,20)

35

In [270]:
s=lambda x,y:x+y

In [271]:
s(5,6)

11

In [272]:
s(100,500)

600

In [275]:
(lambda x,y,z:(x+10,y*2,z**2))(1,2,3)

(11, 4, 9)

In [274]:
x(1,2,3)

(11, 4, 9)